<h2>User Sign-Up Form</h2>

<% if flash[:message] %>
    <small><strong><%= flash[:message] %></strong></small><br>
    <% flash[:message].clear %>
<% end %>

<form action="/sign-up" method ="post">
    <label for="user[username]">Username: </label><input type="text" placeholder="username" name="user[username]"><br>
    <label for="user[password]">Password: </label><input type="password" placeholder="password" name="user[password]"><br>
    <input type="submit" value="Submit">
</form>
