<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraToDoProject</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

      <header><div class="nav">
        <a href="/">Home</a> |
        <% if !current_user %>
          <a href="/sign-up">Sign Up</a> |
          <a href="/log-in">Log In</a>
        <% else %>
          <a href="/lists">Lists</a> |
          <a href="/lists/new">New List</a> |
          <a href="/to_dos">All To-Dos</a> |
          <a href="/to_dos/new">New To-Do</a> |
          <a href="/log-out">Log Out</a>
        <% end %>
      </div></header>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>SinatraToDoProject</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </body>
</html>
