<div class="container">
  <header><div class="nav">
  <a href="/users/sign-up">Sign Up</a>
  <a href="/users/log-in">Log In</a>
  </div></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome!</h2>

    <div class="content">
      <p>Welcome to the Sinatra To-Do List Manager! Sign up to become a registered user and create and edit your own lists of to-dos.</p>
      <p>Use the menu above to navigate this app, view or edit your to-dos. Enjoy!</p>
    </div>

  </div>
</div>
